@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&display=swap');

form{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

input[type=text]{
    grid-column: 1 / span 3;
    height: 20px;
    padding: 5px;
    outline: none;
}

input[type=submit]{
    background: #00bfa5;
    font-family: 'Inconsolata', monospace;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    height: 33px;
}